body {
    background-color: rgb(218, 216, 216);
}

#game-window {
    padding: 0px;
    display: grid;
    overflow: hidden;
    grid-template-columns: repeat(24, 25px);
    grid-template-rows: repeat(24, 25px);
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 600px;
    height: 600px;
    border: 1px solid black;
    background-color: rgb(107, 64, 101);
}

#start-room {
    padding: 1px;
    position: relative;
    width: inherit;
    height: inherit;
}

.player {
    position: relative;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 100%;
}

/* #start-room .object {
    top: 50px;
    left: 0px;
} */
.chest {
    position: absolute;
    margin: 2px;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(231, 205, 205);
}

.wall {
    box-sizing: border-box;
    position: absolute;
    width: 25px;
    height: 25px;
    background-color: rgb(209, 208, 207);
}

.guard {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: aquamarine;
}
